*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.dFlex{
    display: flex;
}

.jRight{
    justify-content: right;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 50px auto 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

.header{
    grid-column: 1/3;
    text-align: center;
    background-color: #90E0EF;
    padding-top: 5px;
}

.booksContainer{
    grid-column: 1;
    grid-row: 2;
    background-image: linear-gradient(#0096C7,#00B4D8, #00B4D8);
    padding: 15px 15px;
}

#closeBTN{
    cursor: pointer;
}

.modalContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popupFormContainer{
    background-color: #2EB5E0;
    opacity: 1;
    padding: 10px;
    border-radius: 10px;
}

.inputFields input{
    width: 250px;
}

#inputSubmitBTN{
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    transition-duration: 0.5s;
    background-color: white;
}

#inputSubmitBTN:hover{
    background-color: #f5f5f5;
}

.bksSubContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 5px;
    justify-content: space-evenly;
    z-index: 1;
}

.grcItem{
    background-image: radial-gradient(#04ECF0, #6AF2F0);
    width: 240px;
    height: 170px;
    padding: 10px 10px;
    line-height: 2;
    border-radius: 10px;
}

.delCardBTN{
    cursor: pointer;
}

.readCheckBx{
    margin-top: 6px;
    width: 60px;
    height: 30px;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #000;
}

.readCheckBx:checked{
    background-color: #48CAE4;
}

.rightSidebar{
    grid-column: 2;
    grid-row: 2/3;
    background-color: #ADE8F4;
    display: flex;
    flex-direction: column;
}

#rsInfo{
    padding-top: 10px;
}

.footer{
    grid-row: 3;
    grid-column: 1/3;
    background-color: #90E0EF;
}

#BTNc{
    align-items: center;
    align-content: center;
}

#BTNaddbook{
    color: #000;
    background-color: #00B4D8;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 25px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#BTNaddbook:hover{
    background-color: #979292;
}